## Imports and Data Loading

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [4]:
shooting_frame = pd.read_csv('./shootings.csv')
shooting_frame.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects

## Analysis

### Race

In [29]:
racial_makeup = pd.DataFrame({'Race': [], 'Count': [], 'Percentage': []})
racial_makeup.Race = shooting_frame.race.value_counts().index.tolist()
racial_makeup.Count = shooting_frame.race.value_counts().tolist()
racial_makeup.Percentage = shooting_frame.race.value_counts(normalize=True).tolist()
racial_makeup

       Race  Count  Percentage
0     White   2476    0.505822
1     Black   1298    0.265169
2  Hispanic    902    0.184270
3     Asian     93    0.018999
4    Native     78    0.015935
5     Other     48    0.009806

### Age

In [46]:
age_makeup = pd.DataFrame({'Age': [], 'Count': [], 'Percentage': []})
age_makeup.Age = shooting_frame.age.value_counts(bins=10).sort_index(axis=0).index.tolist()
age_makeup.Count = shooting_frame.age.value_counts(bins=10).sort_index(axis=0).tolist()
age_makeup.Percentage = shooting_frame.age.value_counts(bins=10, normalize=True).sort_index(axis=0).tolist()
age_makeup

             Age  Count  Percentage
0  (5.914, 14.5]      7    0.001430
1   (14.5, 23.0]    692    0.141369
2   (23.0, 31.5]   1263    0.258018
3   (31.5, 40.0]   1333    0.272319
4   (40.0, 48.5]    706    0.144229
5   (48.5, 57.0]    529    0.108069
6   (57.0, 65.5]    251    0.051277
7   (65.5, 74.0]     85    0.017365
8   (74.0, 82.5]     22    0.004494
9   (82.5, 91.0]      7    0.001430

### Gender

In [48]:
gender_makeup = pd.DataFrame({'Gender': [], 'Count': [], 'Percentage': []})
gender_makeup.Gender = shooting_frame.gender.value_counts().index.tolist()
gender_makeup.Count = shooting_frame.gender.value_counts().tolist()
gender_makeup.Percentage = shooting_frame.gender.value_counts(normalize=True).tolist()
gender_makeup

  Gender  Count  Percentage
0      M   4673    0.954648
1      F    222    0.045352

### Geography

In [49]:
state_makeup = pd.DataFrame({'State': [], 'Count': [], 'Percentage': []})
state_makeup.State = shooting_frame.state.value_counts().index.tolist()
state_makeup.Count = shooting_frame.state.value_counts().tolist()
state_makeup.Percentage = shooting_frame.state.value_counts(normalize=True).tolist()
state_makeup

   State  Count  Percentage
0     CA    701    0.143207
1     TX    426    0.087028
2     FL    324    0.066190
3     AZ    222    0.045352
4     CO    168    0.034321
5     GA    161    0.032891
6     OK    151    0.030848
7     NC    148    0.030235
8     OH    146    0.029826
9     WA    126    0.025741
10    TN    125    0.025536
11    MO    124    0.025332
12    LA    102    0.020838
13    IL     99    0.020225
14    PA     95    0.019408
15    AL     95    0.019408
16    NM     93    0.018999
17    VA     92    0.018795
18    IN     91    0.018590
19    NY     90    0.018386
20    WI     88    0.017978
21    KY     87    0.017773
22    NV     85    0.017365
23    SC     80    0.016343
24    MD     77    0.015730
25    OR     76    0.015526
26    AR     73    0.014913
27    MI     71    0.014505
28    MS     61    0.012462
29    NJ     60    0.012257
30    MN     60    0.012257
31    UT     58    0.011849
32    KS     49    0.010010
33    WV     46    0.009397
34    ID     37    0.007559
35    AK     36    0.007354
36    MA     33    0.006742
37    IA     31    0.006333
38    MT     29    0.005924
39    HI     29    0.005924
40    NE     24    0.004903
41    ME     21    0.004290
42    CT     20    0.004086
43    SD     14    0.002860
44    DC     13    0.002656
45    WY     13    0.002656
46    NH     12    0.002451
47    ND     11    0.002247
48    DE     10    0.002043
49    VT      8    0.001634
50    RI      4    0.000817

In [50]:
city_makeup = pd.DataFrame({'City': [], 'Count': [], 'Percentage': []})
city_makeup.City = shooting_frame.city.value_counts().index.tolist()
city_makeup.Count = shooting_frame.city.value_counts().tolist()
city_makeup.Percentage = shooting_frame.city.value_counts(normalize=True).tolist()
city_makeup

             City  Count  Percentage
0     Los Angeles     78    0.015935
1         Phoenix     66    0.013483
2         Houston     51    0.010419
3       Las Vegas     41    0.008376
4     San Antonio     40    0.008172
...           ...    ...         ...
2283  Friendswood      1    0.000204
2284    La Mirada      1    0.000204
2285       Lompoc      1    0.000204
2286  Watsonville      1    0.000204
2287  Crown Point      1    0.000204

[2288 rows x 3 columns]