## Imports and Data Loading

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [4]:
shooting_frame = pd.read_csv('./shootings.csv')
shooting_frame.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects

## Analysis

### Race

In [29]:
racial_makeup = pd.DataFrame({'Race': [], 'Count': [], 'Percentage': []})
racial_makeup.Race = shooting_frame.race.value_counts().index.tolist()
racial_makeup.Count = shooting_frame.race.value_counts().tolist()
racial_makeup.Percentage = shooting_frame.race.value_counts(normalize=True).tolist()
racial_makeup

       Race  Count  Percentage
0     White   2476    0.505822
1     Black   1298    0.265169
2  Hispanic    902    0.184270
3     Asian     93    0.018999
4    Native     78    0.015935
5     Other     48    0.009806

### Age

In [30]:
age_makeup = pd.DataFrame({'Age': [], 'Count': [], 'Percentage': []})
age_makeup.Race = shooting_frame.age.value_counts(bins=10).index.tolist()
age_makeup.Count = shooting_frame.age.value_counts().tolist()
age_makeup.Percentage = shooting_frame.age.value_counts(normalize=True).tolist()
age_makeup

TypeError: bins argument only works with numeric data.